<h1>
    {{ (!heroe.id) ? 'Nuevo' : 'Editar' }}
    Heroe 
</h1>
<mat-divider></mat-divider>
<br>

<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="40px">

    <div fxFlex="50" fxLayout="column">

        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="40px">
            <mat-form-field fxFlex="100">
                <input matInput 
                    placeholder="Super Heroe"
                    [(ngModel)]="heroe.superhero"
                    type="text"
                    required>
            </mat-form-field>
            <mat-form-field fxFlex="100">
                <input matInput 
                    placeholder="Alter Ego"
                    [(ngModel)]="heroe.alter_ego"
                    type="text"
                    required>
            </mat-form-field>
        </div>

        <mat-form-field>
            <input matInput 
                placeholder="Primera Aparición"
                [(ngModel)]="heroe.first_appearance"
                type="text"
                required>
        </mat-form-field>

        <mat-form-field>
            <input matInput 
                placeholder="Personajes" 
                [(ngModel)]="heroe.characters"
                type="text"
                required>
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>Creador</mat-label>
            <mat-select required
                        [(ngModel)]="heroe.publisher">
                <mat-option *ngFor="let publisher of publishers" [value]="publisher.id">
                    {{publisher.desc}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <input matInput 
                placeholder="Foto Url"
                [(ngModel)]="heroe.alt_img"
                type="url"
                required>
        </mat-form-field>

        <div fxLayout>
            <button mat-raised-button color="primary" (click)="guardar()">
                <mat-icon>save</mat-icon>
                {{ (!heroe.id) ? 'Crear' : 'Actualizar' }}
            </button>

            <span class="spacer"></span>
    
            <button mat-raised-button color="warn" *ngIf="heroe.id" (click)="borrar()">
                <mat-icon>delete</mat-icon>
                Eliminar
            </button>
        </div>
    
    </div>
    <div fxFlex="50">
        <img [src]="heroe | imagen">
    </div>
</div>